<html>
    <head>
        <title>Kaouthar's blog</title>
    </head>
    <body>
      <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>



        <h1>A heading for your most important heading</h1>
<h2>A sub-heading for a heading at the next level</h2>
<h3>A sub-sub-heading</h3>
<h6>…and so on, up to this </h6>
<p>A paragraph of text</p>
<em>emphasized text</em>
<div> defines a section of the page</div>
<strong>strongly emphasized text</strong>
<br />
<em>gone to another line (you can't put anything inside br) </em>
<br />
<a href="https://djangogirls.org">created link</a>
<ul><li>first item</li><li>second item</li></ul>

    </body>
</html>
